{% extends "site_management/base.html" %}
{% block content %}

<div class="container">
      <p class="bg-warning text-white">Department</p>
        1. <a href="department/new/">Create New Department</a></br>
        2. <a href="department/list/">List All Departments</a></br>


    </br>
      <p class="bg-warning text-white">Module</p>
        1. Create New Module</br>
        2. List All Modules</br>
        3. Edit Module details(Edit, Deactivate, or Delete)</br>

    </br>
      <p class="bg-warning text-white">Target</p>
        1. Create New Target</br>
        2. List All Target</br>
        3. Edit Target details(Edit, Deactivate, or Delete)</br>

    </br>
      <p class="bg-warning text-white">Group</p>
        1. Create New Group</br>
        2. List All Group</br>
        3. Edit Group details(Edit, Deactivate, or Delete)</br>

    </br>
      <p class="bg-warning text-white">User</p>
        1. Create New user</br>
        2. List All Users</br>
        3. Edit User details(Edit, Deactivate, or Delete)</br>
</div>

{% endblock %}
