{% extends "site_management/base.html" %}
{% block content %}

<div class="container">
      <p class="bg-warning text-white">Department</p>
        1. <a href="department/new/">Create New Department</a></br>
        2. <a href="department/list/">List All Departments</a></br>
        3. <a href="department_module_map/new/">Map Department with Module</a></br>
        4. <a href="department_module_map/list/">List All Mapping of Department - Module</a></br>
  5. <a href="department_group/new">Create New Group</a></br>
        6. <a href="department_group/list">List Group</a>

    </br>
      <p class="bg-warning text-white">Module & Target</p>
        1. <a href="module/new/">Create New Module</a></br>
        2. <a href="module/list/">List All Modules</a></br>
        3. <a href="target/new/">Create New Target</a></br>
        4. <a href="target/list/">List All Target</a></br>
        5. <a href="module_target_map/new/">Map Module with Target</a></br>
        6. <a href="module_target_map/list/">List All Mapping of Module - Target</a></br>

    </br>
      <p class="bg-warning text-white">User</p>
        1. Create New user</br>
        2. List All Users</br>
        3. Edit User details(Edit, Deactivate, or Delete)</br>
</div>

{% endblock %}
