{% extends "site_management/base.html" %}
{% block content %}
<div class="container">
    <h2>Site Management : Department Group </h2>
</div>
<div class="container">
    Department Name : {{ department_group_obj.department.department|upper }}</br>
    Group Name : {{ department_group_obj.group|upper }}</br>
    Status : {{ department_group_obj.status }}</br></br>
    <a href="../update/{{department_group_obj.slug}}/" type="button" class="btn btn-warning">Update</a>
    <a href="../delete/{{department_group_obj.slug}}/" type="button" class="btn btn-danger">Delete</a>
</div>

{% endblock %}